<div class="w3-container w3-padding-64 w3-center" id="requirement">
  <h2>REQUIREMENT ANALYSIS</h2>
  <p>Enter your requirements and system will help you analyze it. <span style="color: red;">Red </span><span>indicates that the content is not testable.</span></p>

  <div class="w3-row"><br>
    <div>
      <textarea rows="5" cols="1000" placeholder="raw requirements"></textarea>
    </div>

    <div>
      <button>></button>
    </div>

    <div>
      <textarea rows="5" cols="1000" placeholder="analysis results" disabled></textarea>
    </div>
  </div>
</div>