<div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container">
        <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
        <h4>Software Testing Tool</h4>
        <h5>Help</h5>
    </header>
    <div class="w3-container">
        <p>This tool uses Machine Learning to support testing process. Please send a message using th following form for more information or help.</p>

        <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
          <div class="w3-section">
            <input class="w3-input" type="text" name="Email" placeholder="Email" required>
          </div>
          <div class="w3-section">
            <input class="w3-input" type="text" name="Message" placeholder="Message" required>
          </div>
          <button type="submit" class="w3-button w3-right w3-theme">Send</button>
        </form>

        <br/>
        <p>Support team will reply you as soon as possible.</p>
    </div>
    <footer class="w3-container w3-teal">
        <p>Thank you very much <i class="fa fa-smile-o"></i></p>
    </footer>
</div>