<div class="w3-container w3-padding-64 w3-center w3-theme-l1" id="severity">
    <h2>BUG SEVERITY EVALUATION</h2>
    <p>Error severity is predicted using training results.</p><br>

    <div>
        <input matInput placeholder="Bug description" class="textareafull" [(ngModel)]="description" name="inputValue">

        <span (click)="evaluate()" class="addBtn">Run</span>
    </div>
</div>

<!-- Button -->
<!-- <div class="w3-container" style="position:relative">
    <a href="#result" onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
        style="position:absolute;top:-28px;right:24px">RUN</a>
</div> -->

<!-- Results -->
<!-- <div class="w3-container w3-padding-64" id="result"> -->
<table>
    <tr>
        <th>Low</th>
        <th>Medium</th>
        <th>High</th>
        <th>Critical</th>
    </tr>
    <tr>
        <td>
            {{low}} %
        </td>
        <td>
            {{medium}} %
        </td>
        <td>
            {{high}} %
        </td>
        <td>
            {{critical}} %
        </td>
    </tr>
</table>
<!-- </div> -->